html {
    height: 100%;
    touch-action: manipulation;
    /*text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;*/
}

body {
    height: 100%;
    touch-action: manipulation;
    /*text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;*/
    margin: 0 !important;
    padding: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-image: radial-gradient( circle farthest-corner at 10% 20%, rgba(69, 86, 102, 1) 0%, rgba(34, 34, 34, 1) 90%);*/
    background-image: radial-gradient( circle farthest-corner at -4% -12.9%, rgba(74, 98, 110, 1) 0.3%, rgba(30, 33, 48, 1) 90.2%);
    font-family: 'Lato', sans-serif;
    overflow: hidden;
}

a {
    color: black;
    text-decoration: none;
}

.header {
    position: fixed;
    top: 2.25vw;
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 2.75vw;
    text-shadow: 0 .2vw .15vw rgba(0, 0, 0, .8);
    color: rgba(255, 255, 255, .625);
    transform: translateY(-5.5vw);
}

.wrapper {
    will-change: transform;
    background-image: linear-gradient(to right, #FF0066, #F76B1C 75%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
}

.myCards {
    will-change: background-color, background-position, font-size;
    width: 28vw;
    height: 14vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.25vw;
    text-shadow: 0 .15vw .15vw rgba(0, 0, 0, .4);
    border-radius: 1.5vw;
    background-color: rgba(255, 255, 255, .12);
    background-image: linear-gradient(rgba(0, 0, 0, .625), rgba(0, 0, 0, .625));
    background-position: -30vw;
    background-repeat: no-repeat;
    box-shadow: 0 .25vw .75vw -.25vw rgba(0, 0, 0, .8);
}