html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("./background.png");
    background-size: cover;
    font-family: 'Lato', sans-serif;
    overflow: hidden;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
}

a {
    text-decoration: none;
    contain: layout;
}

.header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5.25vw;
    width: 90vw;
    border-bottom-left-radius: 1.25vw;
    border-bottom-right-radius: 1.25vw;
    font-size: 2.75vw;
    font-weight: 800;
    color: rgb(208, 208, 208);
    text-shadow: 0 .2vw .15vw rgba(0, 0, 0, .8);
    background-color: rgba(0, 0, 0, .625);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    transform: translateY(-6vw);
    border: 1px solid rgba(0, 0, 0, .8);
    border-top: none;
}

.lineDivs {
    display: flex;
    justify-content: center;
    align-items: center;
    contain: layout;
}

.wrapper {
    will-change: transform;
    contain: strict;
    position: absolute;
    top: 0;
    left: 0;
    width: 28vw;
    height: 14vw;
    z-index: 0;
    background-color: rgba(0, 0, 0, .625);
    transform: translateX(-28.2vw);
}

.myCards {
    will-change: transform, background-color, font-size, box-shadow;
    contain: strict;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28vw;
    height: 14vw;
    font-size: 2.25vw;
    font-weight: 800;
    text-shadow: 0 .15vw .15vw rgba(0, 0, 0, .8);
    background-color: rgba(255, 255, 255, .02);
    color: rgb(208, 208, 208);
    box-shadow: 0 .25vw .5vw -.15vw rgba(0, 0, 0, .625);
    opacity: 0;
    overflow: hidden;
    backdrop-filter: blur(16px) brightness(110%);
    -webkit-backdrop-filter: blur(16px) brightness(110%);
    border-radius: 1.75vw;
    border: 1px solid rgba(255, 255, 255, .2);
}

.innerDivs {
    position: absolute;
    bottom: 1.75vw;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 auto;
    font-size: 1vw;
    font-weight: 600;
    text-shadow: none;
    color: rgb(160, 160, 160);
    contain: content;
}

.innersContent {
    display: inline-block;
    width: 0;
    overflow: hidden;
    margin: 0 auto;
    contain: content;
    will-change: width;
}
