html {
    height: 100%;
    touch-action: manipulation;
}

body {
    height: 100%;
    touch-action: manipulation;
    /*text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-smooth: antialiased;*/
    margin: 0 !important;
    padding: 0 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*background-image: radial-gradient( circle farthest-corner at -4% -12.9%, rgba(74, 98, 110, 1) 0.3%, rgba(30, 33, 48, 1) 90.2%);*/
    background-image: url("./losslesscompressed.png");
    font-family: 'Lato', sans-serif;
    overflow: hidden;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

a {
    text-decoration: none;
}

.header {
    position: fixed;
    top: 3vw;
    display: flex;
    justify-content: center;
    font-size: 2.75vw;
    font-weight: 900;
    -webkit-text-stroke: 1px rgba(255, 255, 255, .625);
    letter-spacing: 1px;
    text-shadow: 0 .2vw .15vw rgba(0, 0, 0, .8);
    color: rgba(255, 255, 255, .625);
    transform: translateY(-8vw);
}

.lineDivs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.myCards {
    /*-webkit-transform: rotateZ(360deg) translateZ(0);
    transform: rotateZ(360deg) translateZ(0);*/
    will-change: transform, background-color, background-position, color, font-size;
    width: 28vw;
    height: 14vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.25vw;
    font-weight: 800;
    text-shadow: 0 .15vw .15vw rgba(0, 0, 0, .4);
    border-radius: 1.5vw;
    color: rgba(0, 0, 0, .8);
    background: rgba(255, 255, 255, .2) linear-gradient(rgba(0, 0, 0, .625), rgba(0, 0, 0, .625)) no-repeat -29vw;
    box-shadow: 0 .25vw .75vw -.2vw rgba(0, 0, 0, .8);
    transition: box-shadow .6s ease;
    opacity: 0;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    contain: strict;
}

.myCards:hover {
    box-shadow: 0 .5vw 1.5vw -.2vw rgba(0, 0, 0, .8);
}

.innerDivs {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 auto;
    font-size: 1vw;
    font-weight: 600;
    text-shadow: none;
    position: absolute;
    bottom: 1.75vw;
    color: rgba(255, 255, 255, .4);
}

.innersContent {
    width: 0;
    display: inline-block;
    overflow: hidden;
    margin: 0 auto;
}