html {
    touch-action: manipulation;
    height: 100%;
}

body {
    position: relative;
    height: 100%;
    overflow: hidden;
    background-image: linear-gradient(to bottom, rgb(21, 21, 24), rgb(17, 17, 19));
    background-repeat: no-repeat;
    margin: 0 !important;
    padding: 0 !important;
}

.box {
    -webkit-transform: rotateZ(360deg) translateZ(0);
    transform: rotateZ(360deg) translateZ(0);
    will-change: transform;
    position: absolute;
    top: 0;
    left: 0;
    width: 16vh;
    height: 16vh;
    line-height: 16vh;
    text-align: center;
    background-image: radial-gradient(crimson, darkred);
    border-radius: 2.5vh;
    font-size: 10vh;
    color: rgb(21, 21, 24);
    overflow: hidden;
    transition: border-radius .6s ease, color .4s ease;
    contain: strict;
}