html {
    touch-action: manipulation;
    height: 100%;
}

body {
    position: relative;
    height: 100%;
    touch-action: manipulation;
    overflow: hidden;
    background-image: linear-gradient(to bottom, rgb(21, 21, 24), rgb(17, 17, 19));
    background-repeat: no-repeat;
    margin: 0 !important;
    padding: 0 !important;
}

.box {
    -webkit-transform: rotateZ(360deg) translateZ(0);
    transform: rotateZ(360deg) translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: transform, border-radius, color;
    contain: strict;
    position: absolute;
    width: 16vh;
    height: 16vh;
    line-height: 16vh;
    text-align: center;
    border-radius: 2.5vh;
    font-size: 10vh;
    color: rgb(21, 21, 24);
    overflow: hidden;
    content-visibility: auto;
}
